@model IEnumerable<RouteMasterFrontend.EFModels.ExtraServiceProduct>

@{
    int cartIdFromCookie = int.Parse(Context.Request.Cookies["CartId"] ?? "0");
}


<h1>ExtraServiceProductsIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<button id="refresh">刷新</button>
<table class="table" id="cartTable2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraService)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-extraserviceid="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraService.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
               @* <button class="btn btn-primary" onclick="addToCart(@item.Id)">Add to Cart</button>*@
                
                    <div class="right-content">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus">
                            <input id="quantityInput" type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty"
                                   class="input-text qty text" size="4" pattern="" inputmode="">
                            <input type="button" value="+" class="plus"> 
                        </div>
                    </div>
                  
                     <button class="btn btn-primary" onclick="addToCart(@item.Id)">Add to Cart</button>
                    
            </td>
          
        </tr>
            
}
    </tbody>

</table>
<script src="../js/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
      
        $(".plus").on("click", function () {
            var self = $(this);
            var quantityInput = self.siblings(".qty");
            var currentQty = parseInt(quantityInput.val()); 
            quantityInput.val(currentQty + 1); 
        });

        $(".minus").on("click", function () {
            var self = $(this); 
            var quantityInput = self.siblings(".qty"); 
            var currentQty = parseInt(quantityInput.val()); 
            if (currentQty > 1) {
                quantityInput.val(currentQty - 1); }
        });

      
    });
    function addToCart(extraserviceId) {
        var quantity = parseInt($("#quantityInput").val()); 


        $.ajax({
            url: 'https://localhost:7251/api/Carts/addextraservice',
            type: 'POST',
            contentType: 'application/json', // 發送JSON資料
            data: JSON.stringify({
                extraserviceId: extraserviceId,
                quantity: quantity,
                cartId: @cartIdFromCookie,

            }), 
            success: function (response) {
                if (response.success) {
                    Swal.fire(response.message);
                    console.log("123");
                    reloadCartItems();
                }
            },
            error: function () {
                alert('An error occurred while adding to cart.');
            }
        });

    }

    function reloadCartItems() {       
        $.ajax({
            url: '/Carts/RefreshCart',
            type: 'GET',
            success: function (data) {
              
                $('#Cart').html(data);             
            },
            error: function () {
                alert('Failed to reload cart items.');
            }
        });
    }
   

</script>

