@model IEnumerable<RouteMasterFrontend.EFModels.Attraction>



<div class="container mt-5">
<div class="d-flex row overflow-auto " style="height:300px">
    @foreach (var item in Model)
    {  
            <div class="card text-center m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <button class="addAtt btn btn-primary" type="button" id="addAttraction" data-name="@item.Name" data-id="@item.Id" data-positionX="@item.PositionX" data-positionY="@item.PositionY">加入</button>
                </div>
            </div>
    }






      
</div>
</div>
  
      
    

      


