@model RouteMasterFrontend.EFModels.Comments_Accommodation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comments_Accommodation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodation.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentStatus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
